<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
  <section>
    <footer class="footer">
      <div id="main_soc_block_in">
        <div class="footer-content">
          <h3>Loud Voice</h3>
          <p>Follow your heart</p>
          <ul class="social">
            <li><a href="https://t.me/mmarkovnikova"><img th:src="@{/photos/телега.png}" ></a> </li>
            <li><a href="https://instagram.com/m.markovnikova?igshid=MzRlODBiNWFlZA=="><img th:src="@{/photos/инста.png}" ></a> </li>
            <li><a href="https://www.facebook.com/margaret.grethen"><img th:src="@{/photos/фейсбук.png}" ></a> </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Всі права захищені &copy; 2023. designed by <span>DN</span></p>
      </div>
    </footer>
  </section>
</div>
