@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html{height: 100%}

body{
    font-family: 'Poppins', sans-serif;
}

section{
    animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
    100%{
        filter: hue-rotate(360deg);
    }
}
/* ------------------Header---------------------  */
header{
    height: 100vh;
    width: 100%;
    background-image: url("../photos/gitara_екффффшstruny_grif_134252_1350x2400.jpg");
    background-size: cover;
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 22px;
}
.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 600;
    background: none;
}
.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 35px;
}



@media screen and (max-width: 900px){
    header{
        height: 65vh;
        width: 100%;
    }

    .navbar {
        padding: 0;
    }
    .navbar .logo {
        position: absolute;
        top: 40px;
        left: 30px;
    }

    .navbar .menu-hamburger{
        display: block;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255,255,255,0.20);
        backdrop-filter: blur(20px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .navbar .links a:hover{

        margin: 10px;
        padding: 9px;
        border-radius: 20px;
        background-color: rgba(102, 102, 102, 0.5);
        color: white;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links .mobile-menu{
        margin-left: 0;

    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin:  25px 0;
        font-size: 1.2em;
    }

}

/* -------------------------------BODY------------------------- */
.right{float: right;}
.left{float: left;}
.clear{clear: both;}

hr{
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid #ccc;
    padding: 0;
}

a {
    /*color:  #6a5d8c;*/
    color: black;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a:hover {
    color:  wheat;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;

}
a:active{color: #473f5f}

#menu{
    color: #666;
    font-family: monospace, sans-serif;
    font-size: 1.7em;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#menu hr{
    width: 50%;
    margin: 0 25% 0 25%;
}

#menuHref{
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuHref a{
    margin: 10px;
    padding: 9px;
    border-radius: 20px;
    margin-right: 5px;
}

#menuHref a:hover{
    /*background-color: #cdf8ff*/
    background-color: rgba(0, 0, 0, 0.74);
}

/*-----------------------------------3 BLOCKS ----------------------------*/

#wrapper{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#articles a{
    justify-content: space-around;
    color: white;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

#wrapper #articles{
    width: 80%;

}
#wrapper #articles article{
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.42);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #666;
    min-height: 400px;
}

@media (min-width: 1280px){
    #wrapper #articles article{
        width: 31.3333%;
        margin-right: 2%;
    }}
@media (max-width: 1279px) and (min-width: 700px){
    #wrapper #articles article {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 10px;
    }}
@media (max-width: 700px){
    #wrapper #articles article{
        width: 96%;
        margin-bottom: 10px;
    }}

#wrapper #articles article img{
    width: 100%;
    object-fit: cover;
    height: 650px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}
#wrapper #articles article h2 {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    color: #f5deb3;
    text-transform: capitalize;
    line-height: 2rem;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 5px;
    background-color: rgba(255,255,255,0.5);
    animation: animateBg 5s linear infinite;
}


#wrapper #articles article p{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    color: rgba(255,255,255,0.20);
}

#wrapper #articles article p:hover{
    color:  #c6a8f9;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}


/*--------------------------------------FOOTER---------------------------*/

.footer{
    border-top: 2px solid #666666;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../photos/клавиши111.jpg") center;
    background-size: cover;
    height: auto;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    padding-top: 40px;
    color: white;
    animation: animateBg 15s linear infinite;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    border: none;
    box-sizing: border-box;
    border-radius: 40px;
    width: auto;
    padding: 5px;
    /*backdrop-filter: blur(15px);*/
    animation: animateBg 10s linear infinite;
    margin-bottom: 15px;
}
.footer-content p{
    font-family: "Dancing Script", serif;
    font-style: italic;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 40px;
    width: auto;
    padding: 11px;
    /*backdrop-filter: blur(15px);*/
    animation: animateBg 10s linear infinite;
}
.social{
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 2rem 0 3rem 0;*/
    border: none;
    box-sizing: border-box;
    border-radius: 40px;
    width: auto;
    /*backdrop-filter: blur(15px);*/
    animation: animateBg 10s linear infinite;
}

.social li{
    margin: 5px 20px;
}

.social a{
    text-decoration: none;
    color: white;
}
.social a img{
    font-size: 2rem;
    transition: color .4s ease;
    background-color: white;
    border-radius: 10px;
}

.footer-bottom{
    color: white;
    background: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}