<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про мене</title>
    <link rel="stylesheet" th:href="@{/css/styleAbout.css}">
    <link rel="shortcut icon" href="/photos/icon.png">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="keywords" content="Loud voice, voice, song, лоуд войс, школа вокала,"/>
    <meta name="description" content="Этот сайт является сайтом онлайн школы вокала"/>

</head>
<body>
<div class="wrap">
    <header th:insert="~{fragment/header::header}"></header>

    <div id="menu">Розділи<hr/></div>
    <div class="menuHref">
        <a th:href="@{/about}">Про мене</a>
        <a th:href="@{/feedback/feedback-form}">Зворотній зв'язок</a>
        <a href="/login">Вхід</a>
        <a href="#" th:href="@{/registration/registration-form}">Реєстрація</a>
    </div>

    <div id="wrapper">
        <div id="articles">
            <div id="about_us">
                <p>
                    Ну що? Познайомимось?<br><br>

                    Мене звати Марго, я вокальна наставниця, діюча вокалістка гурту MargoBand,
                    також являюсь солісткою колективу FreshTime, з яким приймала участь у телевізійному шоу «Співають всі».
                    Також я є керівником вокального гуртка «LOUD VOICE» в Палаці творчості дітей та юнацтва «Мрія» в м. Южне.
                    В музиці я вже близько 17 років, з яких 7 років – професійно, і з яких 3 роки займаюсь викладацькою діяльністю.
                    В 2020 році закінчила ВП МФ КНУКіМ та здобула дві вищі освіти,
                    одна з яких диплом бакалавра по спеціальності «музичне мистецтво», за кваліфікацією керівник вокального ансамблю, викладач. Продовжую постійно навчатися,
                    вдосконалювати свої знання та навички на курсах підвищення кваліфікації, працюю за сучасними вокальними методиками.
                    Наразі активно виступаю з гуртом MargoBand та за плечима маю багаторічний досвід різноманітної концертної діяльності.
                    <br><br>
                    LOUD VOICE – це вокальний простір, в якому ти можеш бути собою!
                    Якщо ви тільки починаєте пірнати у світ вокалу – я з величезною підтримкою допоможу вам зробити перші кроки. На заняттях ви навчитесь усім важливим вокальним азам, пізнаєте свій голос, дізнаєтесь анатомічні властивості голосового апарату, про техніки та прийоми естрадного вокалу, про вокальні прикраси, почнете використовувати усі набутті знання і навички на практиці.
                    Моя ціль допомогти кожному учню-початківцю прийняти, полюбити свій голос, вільно, впевнено та обізнано користуватися ним. Не боятися проявлятися, виступати та розвиватися. Також залюбки працюю з більш розвинутими вокалістами, які вже мають певний рівень та досвід.
                    <br><br>
                    І пам’ятайте що найголовніше – це ваше бажання і ваші дії, не існує чарівної палички, яка виконає усі ваші мрії за короткий термін! Систематичні та регулярні заняття – запорука успіху та чудових результатів!
                    <br><br>
                    До зустрічі на заняттях!
                </p>
            </div>
            <div class="my_photo"></div>
        </div>
    </div>
</div>
<div th:insert="~{fragment/footerMini::footerMini}"></div>
</body>
<script>
    const menuHamburger = document.querySelector(".menu-hamburger")
    const navLinks = document.querySelector(".nav-links")

    menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
    })
</script>
</html>